{% extends "layout.html" %}
{% block body %}
    <form method="POST" action="{{ url_for('create') }}">
        <div class="row">
            <input type="text" name="title" placeholder="Enter title here" />
        </div>
        <div class="row">
            <textarea name="content" placeholder="Enter content here" cols="10" rows="10"></textarea>
        </div>
        <div class="row">
            <input type="text" name="tags" placeholder="Enter tags here" />
        </div>
        <div class="row">
            <div class="small-3 columns"><br></div>
            <input class="button small-3 columns" type="submit" value="Create" />
            <a class="button alert small-3 columns" href="{{ url_for('show_all') }}">Cancel</a>
            <div class="small-3 columns"><br></div>
        </div>
    </form>
{% endblock %}