{% extends "layout.html" %}
{% block body %}
    <form method="POST" action="{{ url_for('create') }}">
        <div class="row">
            <input type="text" name="title" placeholder="Enter title here" />
        </div>
        <div class="row">
            <textarea name="content" placeholder="Enter content here" cols="10" rows="10"></textarea>
        </div>
        <div class="row">
            <input type="text" name="tags" placeholder="Enter tags here" />
        </div>
        <div class="row">
            <input type="submit" value="Create" class="button small-12 columns"></input>
        </div>
    </form>
{% endblock %}