{% extends "layout.html" %}
{% block title %}Register | {{ config.name }}{% endblock %}
{% block body %}
  <h2>Login</h2>
    <form action="{{ url_for('.register') }}" method="POST">
        <div class="input-group">
            <span class="input-group-label">Username:</span>
            <input class="input-group-field" type="text" name="username" />
        </div>
        <div class="input-group">
            <span class="input-group-label">Password:&nbsp; </span>
            <input class="input-group-field" type="password" name="password" />
        </div>
        <div class="input-group">
            <span class="input-group-label">Display Name:</span>
            <input class="input-group-field" type="text" name="display" />
        </div>
        <div class="row">
            <div class="small-3 medium-4 small-centered medium-centered columns">
                <input type="submit" value="Register" class="button" style="width: 100%; font-size: 20px;" />
            </div>
        </div>
    </form>
{% endblock %}