{% extends "layout.html" %}
{% block body %}
    <div class="row posts">
        {% if post %}
            <div class="post">
                <div class="row">
                    {% if session.username == post.author %}
                        <div class="small-10 columns">
                            <h2 class="title">{{ post.title }}</h2>
                        </div>
                        <div class="small-2 columns">
                            <h5 class="text-right">
                                <a href="{{ url_for('edit', postid=postid) }}">Edit</a> |
                                <a href="{{ url_for('delete', postid=postid) }}">Delete</a>
                            </h5>
                        </div>
                    {% else %}
                        <div class="small-12 columns">
                            <h2 class="title">{{ post.title }}</h2>
                        </div>
                    {% endif %}
                </div>
                <div class="row underlined">
                    <div class="small-6 columns">
                        <h5>by {{ post.get_display_name() }}</h5>
                    </div>
                    <div class="small-6 columns">
                        <h5 class="text-right">{{ rel_date(post.date) }}</h5>
                    </div>
                </div>
                <div class="row content">
                    <div class="small-12 columns">
                        {{ post.html|safe }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="warning callout">
                <em>There is no post with ID of {{ postid }}!</em>
                <br>
                <a href="{{ url_for('show_all') }}"><em>Return Home</em></a>
            </div>
        {% endif %}
    </div>
{% endblock %}